<p>Featured Products ============</p>
<app-product-view-cards routerLink="/product-details/P-001"></app-product-view-cards>
<app-product-view-cards></app-product-view-cards>
<app-product-view-cards></app-product-view-cards>
<app-product-view-cards></app-product-view-cards>
<app-product-view-cards></app-product-view-cards>
<app-product-view-cards></app-product-view-cards>
<app-product-view-cards></app-product-view-cards>
<app-product-view-cards></app-product-view-cards>
<app-product-view-cards></app-product-view-cards>
<p>Feature Products=============</p>
